<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - HOROSCOPE</title>
    <style>
        body {
            color: dimgrey;
        }
        div {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            padding: 10%;
        }

    </style>
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='images/error.png') }}" alt="error" width="200" height="200">
        <h1>Error </h1>
        <p>{{ err }}</p>
    </div>
</body>
</html>